/* Main container styling */
.logo{
  width: 300px;  /* Adjust size as needed */
  margin-bottom: 20px;  /* Spacing below the logo */
}
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f7f7f7;
  padding: 20px;
}

/* Form container */
form {
  display: flex;
  flex-direction: column;
  width: 350px; /* Increased width */
  background-color: #fff;
  padding: 30px; /* Increased padding */
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form group */
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Button styling */
button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  margin-bottom: 10px; /* Spacing between buttons */
}

button:hover {
  background-color: #45a049;
}

/* "or" text styling */
.or-text {
  text-align: center;
  color: #555;
  margin: 10px 0; /* Spacing between buttons */
  font-weight: bold;
}

/* Link and paragraph styling */
p {
  margin-top: 15px;
  color: #555;
  text-align: center;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
